
body {
  background-color: $background-color;

  .craftworks-content {
    overflow: visible;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}