
/********************
 *  WIDTHS
 *******************/

$max-width: 1000px;

/********************
 *  FONT PATH
 *******************/
$font-path: '../fonts/';
$blog-title: grey;
$blog-links: grey;




