
/********************
 *  WIDTHS
 *******************/

$max-width: 1000px;

/********************
 *  Colors
 *******************/
$white: #fff;

/********************
 *  FONT PATH
 *******************/
$font-path: '../fonts/';
$blog-title: grey;
$blog-links: grey;




