.section-team {
  position: relative;

  #team {
    padding: 5em 0 7em;

    @include respond-to(mobile) {
      padding: 1em 0;
    }
  }

  &::before {
    @include white-bg();
    top: 0;
  }

  .team {
    text-align: center;

    img {
      width: 100%;
      margin: 2em 0;
    }
  }
}