
.mdl-grid.mdl-grid--no-spacing.section-why {
  // we do not want to override padding left and right
  padding-top: 4em;
  padding-bottom: 5em;
}

.why-teaser {
  text-align: center;
  font-weight: 200;
  line-height: 76px;
}
