
<header class="header">
    <div class="container--flex">
        <div class="header-logo">
            <a class="header-logo--link" href="https://craftworks.at">
                <img class="header-logo--img" src="img/logo.png" />
            </a>

            <nav class="header-nav">
                <ul class="header-nav--list">
                    <li class="header-nav--list-item">
                        <a class="header-nav--list-link" href="#">Dummy1</a>
                    </li>
                    <li class="header-nav--list-item">
                        <a class="header-nav--list-link" href="#">Dummy2</a>
                    </li>
                    <li class="header-nav--list-item">
                        <a class="header-nav--list-link" href="#">Dummy3</a>
                    </li>
                    <li class="header-nav--list-item">
                        <a class="header-nav--list-link" href="#">Dummy4</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>