
<header class="header">
    <div class="container--flex">
        <div class="header-logo">
            <a class="header-logo--link" href="https://craftworks.at">
                <img class="header-logo--img" src="{{ site.baseurl }}img/logo.png" />
            </a>

            <nav class="header-nav">
                <ul class="header-nav--list">
                    <li class="header-nav--list-item">
                        <a class="header-nav--list-link" href="{{ site.baseurl }}#how">Prozess</a>
                    </li>
                    <li class="header-nav--list-item">
                        <a class="header-nav--list-link" href="{{ site.baseurl }}#what">Leistungen</a>
                    </li>
                    <li class="header-nav--list-item">
                        <a class="header-nav--list-link" href="{{ site.baseurl }}#team">Über uns</a>
                    </li>
                    <li class="header-nav--list-item">
                        <a class="header-nav--list-link" href="{{ site.baseurl }}#contact">Kontakt</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>