{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}

<nav class="mdl-navigation">
    {% for node in site.pages %}
    node.url
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% assign filename = node_url_parts | last %}
    {% if url_parts_size == node_url_parts_size %}
    <a class="mdl-navigation__link mdl-color-text--accent-contrast" href='{{node.url}}'>{{node.title}}</a>
    {% endif %}
    {% endfor %}
</nav>