<div class="mdl-cell mdl-cell--12-col" id="contact">
    <div class="contact-container">


            <!--
            <h4 class="section-title">Kontakt</h4>
            <p>
                Treten Sie mit uns uns per <a href="mailto:office@craftworks.at">E-Mail</a> in Kontakt!
            </p>
            <p>
                Johannagasse 4B 5|1<br>
                1050 Wien<br>
                Austria
            </p>-->

        <address>
            <h4 class="section-title">Kontakt</h4>
            <p>Johannagasse 4b 5/1<br />1050 Wien</p>
            <p><a href="mailto:office@craftworks.at">office@craftworks.at</a></p>
        </address>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.9505084184766!2d16.335128251602306!3d48.188305055502866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da818996cbc03%3A0x4e77fc7f7f352af4!2sforty-two.io!5e0!3m2!1sen!2sus!4v1458129469989" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>

