

<div class="mdl-cell mdl-cell--12-col">
    <h4 class="how-title">
        Wie arbeiten wir?
    </h4>
</div>

<div class="how-progress">
    <div class="how-progress--step">

        <h5 class="how-progress--step-title">kundenzentriert</h5>
        <p class="how-progress--step-text">
            Bewusstsein bilden für Herausforderungen und Potenziale unserer Kunden
        </p>
    </div>
    <div class="how-progress--step">
        <h5 class="how-progress--step-title">fokussiert</h5>
        <p class="how-progress--step-text">
            wichtige, wertschaffende Möglichkeiten identifizieren
        </p>
    </div>
    <div class="how-progress--step">
        <h5 class="how-progress--step-title">agil</h5>
        <p class="how-progress--step-text">
            Den Entwicklungsprozess mit dem Kunden flexibel und iterativ gestalten.
        </p>
    </div>
    <div class="how-progress--step">
        <h5 class="how-progress--step-title">intuitiv</h5>
        <p class="how-progress--step-text">
            einfache und verständliche Bedienbarkeit im Vordergrund
        </p>
    </div>
    <div class="how-progress--step">
        <h5 class="how-progress--step-title">begleitend</h5>
        <p class="how-progress--step-text">
            gemeinsam neue Ziele erreichen
        </p>
    </div>
</div>


