<div class="mdl-cell mdl-cell--12-col">
    <h4 class="section-title" id="team">Unser Team</h4>

    <div class="team">
        <img src="img/team4.jpg" />
    </div>

    <div class="team__container">
        <div class="team__description">
            <h5>DI Simon Grabher</h5>
            <p>Simon kümmert sich hauptsächlich um das <strong>Projektmanagement</strong> unserer laufenden Projekte. Sein Ziel ist es, <strong>Kundenwünsche</strong> innerhalb kürzester Zeit zu erfüllen sowie das restliche Team bestmöglichst zu unterstützen. <br>Schreiben Sie <a href="mailto:sg@craftworks.at">Simon eine E-mail</a>!</p>
        </div>
        <div class="team__description">
            <h5>Matthias Steinböck&nbsp;BSc</h5>
            <p>Unser Technikguru Matthias ist verantwortlich für die <strong>Architektur und Umsetzung</strong> unserer komplexeren Projekte. <br>Seine Maximen sind Sicherheit, Performance und Wiederverwendbarkeit.</p>
        </div>

        <div class="team__description">
            <h5>DI Jakob Lahmer</h5>
            <p>Jakob kümmert sich um die <strong>Gestaltung</strong> und die <strong>User Experience</strong> unserer Anwendungen.<br>Sein Blick für Details ermöglicht die Realisierung von einfach zu bedienender und schneller Software.</p>
        </div>

        <div class="team__description">
            <h5>Thomas Fritz</h5>
            <p>Die <strong>Planung, Entwicklung und Umsetzung unserer Produkte</strong> ist Thomas Leidenschaft. Dabei setzt er nicht (nur) auf unsere eigenen Ideen, sondern vor allem auf die unserer Kunden.</p>
        </div>
        <div class="team__description">
            <h5>Michael Hettegger&nbsp;BSc</h5>
            <p>Um stehts am Zahn der Zeit zu sein beschäftigt sich Michael viel im Bereich <strong>Forschung und Entwicklung</strong>. Hypes kommen und gehen - umso wichtiger ist es wahre Innovation zu erkennen.</p>
        </div>
    </div>
</div>
