<div class="mdl-cell mdl-cell--12-col">
    <h4 class="section-title" id="what">
        Wir bieten
    </h4>
</div>

<div class="section-what--container">
    <div class="section-what--what what-big-data" data-slide-index="0">
        <h2 class="section-what--title">big data</h2>
        <ul class="section-what--list">
            <li>predictive analytics</li>
            <li>M2M</li>
            <li>API integration</li>
        </ul>
        <!--<ul>
            <li>Schnittstellen/API</li>
            <li>M2M</li>
            <li>Predictive Analytics</li>
            <li>Machine Learning</li>
            <li>data aggregation</li>
        </ul>-->
    </div>

    <div class="section-what--what what-development" data-slide-index="1">
        <h2 class="section-what--title">entwicklung</h2>
        <ul class="section-what--list">
            <li>web applications</li>
            <li>digital publishing</li>
            <li>mobile solutions</li>
        </ul>
        <!--<ul>
            <li>Produktionsplanungssoftware</li>
            <li>Flottenmanagement</li>
            <li>Digital Publishing</li>
            <li>Media Management</li>
            <li>Web Applikationen</li>
            <li>Mobile Native/Hybrid</li>
        </ul>-->
    </div>

    <div class="section-what--what what-consulting" data-slide-index="2">
        <h2 class="section-what--title">consulting</h2>
        <ul class="section-what--list">
            <li>performance & scaling</li>
            <li>software architecture</li>
            <li>security</li>
        </ul>
        <!--<ul>
            <li>Performance</li>
            <li>Infrastruktur</li>
            <li>Security</li>
            <li>agile Softwareentwicklungsprozesse</li>
            <li>Skalierung</li>
            <li>Softwarearchitektur</li>
        </ul>-->
    </div>
</div>

<div class="section-what--swiper-container">
    <div class="swiper-container section-what--swiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="section-what--detail what-big-data">
                    <!--<h3>kunde1</h3>-->

                    <div class="section-what--detail-box">
                        <p>some <span>automatischer datenabgleich</span> text which helps us to define things and say what we think should be said and so one. bu
                            some <span>automatische Auswertung</span> text which helps us to define things and say what we think should be said and so one. bu
                            i guess there is not so much space for this tg only 2 sentences.
                            some <span>Anbindung an unterschiedliche APIs/Schnittstellen</span> text which helps us to define <span>Echtzeit</span> and say what we think should be said and so one. bu
                        </p>

                        <div class="section-what--detail-box-image-wrapper">
                            <img src="/img/meeting.jpg"/>
                        </div>
                    </div>
                    <div class="section-what--detail-portrait">
                        <div>
                            <img src="https://assets-b2matchgmbh.netdna-ssl.com/participants/000/192/485/picture/large.png?1430397946"/>
                            <ol class="section-what--detail-portrait-list">
                                <li>Simon Grabher</li>
                                <li>CEO</li>
                                <li>craftworks GmbH</li>
                            </ol>
                        </div>
                        <cite class="section-what--detail-box-cite">
                            Dank der auf unsere Bedürfnisse angepassten BigData-Lösung von craftworks, können wir unseren Kunden aus einer Vielzahl von Quellen, die Informationen zur Verfügung stellen, die wirklich interessant sind. Dafür stehe ich mit meinem Namen.
                        </cite>
                    </div>

                </div>
            </div>

            <div class="swiper-slide">
                <div class="section-what--detail what-development">
                    <!--<h3>kunde2</h3>-->
                    <div class="section-what--detail-box">
                        <p>some <span>intelligentes Zeitmanagement</span> text which helps us to e think should be said and so one. bu
                            i guess there is not so much space for this text. So we should consider having only 2 sentences.
                            some <span>Echtzeit Produktionsüberblick</span> text which helps us to d
                            some <span>Workflow-Automatisierung</span> text which helps us to define <span>an Funktion angepasste Informationsaufbereitung</span> and say what we think should be said and so one. bu
                        </p>

                        <div class="section-what--detail-box-image-wrapper">
                            <img src="/img/foresight_small.png"/>
                        </div>
                    </div>
                    <div class="section-what--detail-portrait">
                        <div>
                            <img src="https://assets-b2matchgmbh.netdna-ssl.com/participants/000/192/485/picture/large.png?1430397946"/>
                            <ol class="section-what--detail-portrait-list">
                                <li>Simon Grabher</li>
                                <li>CEO</li>
                                <li>craftworks GmbH</li>
                            </ol>
                        </div>
                        <cite class="section-what--detail-box-cite">
                            Dank foresight habe ich jederzeit einen genauen Überblick über den aktuellen Produktionsstand und reduziere Zeit und Kosten durch geringeren Verwaltungsaufwand.
                        </cite>
                    </div>
                </div>
            </div>


            <div class="swiper-slide">
                <div class="section-what--detail what-consulting">
                    <!--<h3>kunde3</h3>-->
                    <div class="section-what--detail-box">
                        <p>some <span>DOM-Manipulationsoptimierung</span> text which helps us to define things and say what we think should be said and so one. bu
                            i guess there is not so much space for this text. So we should consider having only 2 sentences.
                            some <span>Softwarearchitekturberatung</span> text which helps us to define things and say what we think should be said and so one. bu
                            some <span>Entwicklungsprozess auf gitflow-Basis</span> tex
                        </p>

                        <div class="section-what--detail-box-image-wrapper">
                            <img src="/img/meeting.jpg"/>
                        </div>
                    </div>


                    <div class="section-what--detail-portrait">
                        <div>
                            <img src="https://assets-b2matchgmbh.netdna-ssl.com/participants/000/192/485/picture/large.png?1430397946"/>
                            <ol class="section-what--detail-portrait-list">
                                <li>Simon Grabher</li>
                                <li>CEO</li>
                                <li>craftworks GmbH</li>
                            </ol>
                        </div>
                        <cite class="section-what--detail-box-cite">
                            Durch die riesigen Datenmengen, die unsere Plattform in Echtzeit verarbeitete, stießen wir immer wieder an unsere Grenzen. Gemeinsam mit craftworks haben eine Microservice-Architektur entworfen, um noch größere Datenmengen zu verarbeiten und das System ausfallsicherer zu machen. Ihre Expertise hat uns nicht nur im Backend sondern auch bei Performance-Problemen im Frontend sehr geholfen.
                        </cite>
                    </div>

                </div>
            </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
