
<div class="mdl-cell mdl-cell--12-col">
    <h4 class="section-title">
        Wir bieten
    </h4>
</div>

<div class="section-what--container">
    <div class="section-what--what what-big-data">
        <h2 class="section-what--title">big data</h2>
        <ul class="section-what--list">
            <li>predictive analytics</li>
            <li>M2M</li>
            <li>API integration</li>
        </ul>
        <!--<ul>
            <li>Schnittstellen/API</li>
            <li>M2M</li>
            <li>Predictive Analytics</li>
            <li>Machine Learning</li>
            <li>data aggregation</li>
        </ul>-->
    </div>

    <div class="section-what--what what-development">
        <h2 class="section-what--title">entwicklung</h2>
        <ul class="section-what--list">
            <li>web applications</li>
            <li>digital publishing</li>
            <li>mobile solutions</li>
        </ul>
        <!--<ul>
            <li>Produktionsplanungssoftware</li>
            <li>Flottenmanagement</li>
            <li>Digital Publishing</li>
            <li>Media Management</li>
            <li>Web Applikationen</li>
            <li>Mobile Native/Hybrid</li>
        </ul>-->
    </div>

    <div class="section-what--what what-consulting">
        <h2 class="section-what--title">consulting</h2>
        <ul class="section-what--list">
            <li>performance & scaling</li>
            <li>software architecture</li>
            <li>security</li>
        </ul>
        <!--<ul>
            <li>Performance</li>
            <li>Infrastruktur</li>
            <li>Security</li>
            <li>agile Softwareentwicklungsprozesse</li>
            <li>Skalierung</li>
            <li>Softwarearchitektur</li>
        </ul>-->
    </div>
</div>

<div class="section-what--swiper-container">
    <div class="swiper-container section-what--swiper">
        <div class="swiper-wrapper">
            <div class="section-what--detail what-big-data swiper-slide">
                <h3>kunde1</h3>
                <cite>Dank der auf unsere Bedürfnisse angepassten BigData-Lösung von craftworks, können wir unseren Kunden aus einer Vielzahl von Quellen, die Informationen zur Verfügung stellen, die wirklich interessant sind. Dafür stehe ich mit meinem Namen.</cite>
                <ol>
                    <li>automatischer datenabgleich</li>
                    <li>automatische Auswertung</li>
                    <li>Anbindung an unterschiedliche APIs/Schnittstellen</li>
                    <li>Echtzeit</li>
                </ol>
                <img src="" />
            </div>

            <div class="section-what--detail what-development swiper-slide">
                <h3>kunde2</h3>
                <cite>Dank foresight habe ich jederzeit einen genauen Überblick über den aktuellen Produktionsstand und reduziere Zeit und Kosten durch geringeren Verwaltungsaufwand.</cite>
                <ol>
                    <li>intelligentes Zeitmanagement</li>
                    <li>Echtzeit Produktionsüberblick</li>
                    <li>Workflow-Automatisierung</li>
                    <li>an Funktion angepasste Informationsaufbereitung</li>
                </ol>
                <img src="" />
            </div>

            <div class="section-what--detail what-consulting swiper-slide">
                <h3>kunde3</h3>
                <cite>Dank der auf unsere Bedürfnisse angepassten BigData-Lösung von craftworks, können wir unseren Kunden aus einer Vielzahl von Quellen, die Informationen zur Verfügung stellen, die wirklich interessant sind. Dafür stehe ich mit meinem Namen.</cite>
                <ol>
                    <li>DOM-Manipulationsoptimierung</li>
                    <li>Softwarearchitekturberatung</li>
                    <li>Entwicklungsprozess auf gitflow-Basis</li>
                </ol>
                <img src="" />
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<!-- Initialize Swiper -->
<script>
    (function(Swiper) {
        new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            autoplay: 5000,
            loop: true
        });
    })(window.Swiper);
</script>