<div>
    <div class="section-how__what what-big-data">
        <h2>big data</h2>
        <ul>
            <li>Schnittstellen/API</li>
            <li>M2M</li>
            <li>Predictive Analytics</li>
            <li>Machine Learning</li>
            <li>data aggregation</li>
        </ul>
    </div>

    <div class="section-how__what what-development">
        <h2>development</h2>
        <ul>
            <li>Produktionsplanungssoftware</li>
            <li>Flottenmanagement</li>
            <li>Digital Publishing</li>
            <li>Media Management</li>
            <li>Web Applikationen</li>
            <li>Mobile Native/Hybrid</li>
        </ul>
    </div>

    <div class="section-how__what what-consulting">
        <h2>consulting</h2>
        <ul>
            <li>Performance</li>
            <li>Infrastruktur</li>
            <li>Security</li>
            <li>agile Softwareentwicklungsprozesse</li>
            <li>Skalierung</li>
            <li>Softwarearchitektur</li>
        </ul>
    </div>
</div>

<div>
    <div class="section-how__detail what-big-data">
        <h3>kunde1</h3>
        <cite>Dank der auf unsere Bedürfnisse angepassten BigData-Lösung von craftworks, können wir unseren Kunden aus einer Vielzahl von Quellen, die Informationen zur Verfügung stellen, die wirklich interessant sind. Dafür stehe ich mit meinem Namen.</cite>
        <ol>
            <li>automatischer datenabgleich</li>
            <li>automatische Auswertung</li>
            <li>Anbindung an unterschiedliche APIs/Schnittstellen</li>
            <li>Echtzeit</li>
        </ol>
        <img src="" />
    </div>

    <div class="section-how__detail what-development">
        <h3>kunde2</h3>
        <cite>Dank foresight habe ich jederzeit einen genauen Überblick über den aktuellen Produktionsstand und reduziere Zeit und Kosten durch geringeren Verwaltungsaufwand.</cite>
        <ol>
            <li>intelligentes Zeitmanagement</li>
            <li>Echtzeit Produktionsüberblick</li>
            <li>Workflow-Automatisierung</li>
            <li>an Funktion angepasste Informationsaufbereitung</li>
        </ol>
        <img src="" />
    </div>

    <div class="section-how__detail what-consulting">
        <h3>kunde3</h3>
        <cite>Dank der auf unsere Bedürfnisse angepassten BigData-Lösung von craftworks, können wir unseren Kunden aus einer Vielzahl von Quellen, die Informationen zur Verfügung stellen, die wirklich interessant sind. Dafür stehe ich mit meinem Namen.</cite>
        <ol>
            <li>DOM-Manipulationsoptimierung</li>
            <li>Softwarearchitekturberatung</li>
            <li>Entwicklungsprozess auf gitflow-Basis</li>
        </ol>
        <img src="" />
    </div>

</div>